/Crobin/cmake-build-debug/
/Crobin/build/
/LiteCompiler_C++/cmake-build-debug/
/LiteCompiler_C++/build/
/robin/cmake-build-debug/
/robin/build/

/.vscode/
/Crobin/.vscode/
/LiteCompiler_C++/.vscode/
/robin/.vscode/
